.btn {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border-radius: 45px;
  color: #ffffff;
}

.btn:hover {
  background: rgb(11, 11, 36);
  color: aliceblue;
  transform: translateY(-7px);
  transition: transform 0.8s;
}
